Homeworks/.DS_Store
Homeworks/1. Critical Sections/test
Homeworks/1. Critical Sections/test.c
Homeworks/1. Critical Sections/random.c
Homeworks/1. Critical Sections/random
Homeworks/1. Critical Sections/isdigit.c
Homeworks/1. Critical Sections/a.out
Homeworks/1. Critical Sections/3. tee/newfile.txt
Homeworks/1. Critical Sections/3. tee/file1.txt
Homeworks/1. Critical Sections/.DS_Store
Homeworks/1. Critical Sections/.DS_Store
Homeworks/2. openMP/2. Quicksort/test
Homeworks/2. openMP/2. Quicksort/test.c
Homeworks/2. openMP/3. Palindromic words/TERM_PROGRAM=vscode
Homeworks/2. openMP/3. Palindromic words/results.txt
Homeworks/3. Use  of Semaphores/1. The Hungry Birds Problem/test
Homeworks/3. Use  of Semaphores/1. The Hungry Birds Problem/test.c
Homeworks/3. Use of Semaphores/2. The Bear and Honeybees Problem/test.c
Homeworks/3. Use of Semaphores/2. The Bear and Honeybees Problem/test
Homeworks/3. Use of Semaphores/3. The Unisex Bathroom Problem/test.c
Homeworks/3. Use of Semaphores/3. The Unisex Bathroom Problem/test
.vscode/settings.json
.DS_Store
