
Homeworks/1. Critical Sections/test
Homeworks/1. Critical Sections/test.c
Homeworks/1. Critical Sections/random.c
Homeworks/1. Critical Sections/random
Homeworks/1. Critical Sections/isdigit.c
Homeworks/1. Critical Sections/a.out
.vscode/settings.json
Homeworks/1. Critical Sections/3. tee/newfile.txt
